# IntelliJ
.idea/
*.iml

# Maven
target/

# Test çıktıları
test-output/
surefire-reports/

# Allure (kullanıyorsan)
allure-results/
allure-report/

# OS
.DS_Store

# Log & geçici
*.log
*.tmp

# Env
.env
